@import "tailwindcss";

:root {
  color-scheme: only light;
}

html {
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('./assets/20240719_112113.jpg') center/cover fixed #111;
  min-height: 100dvh;
}
