@import "tailwindcss";

:root {
  color-scheme: only light;
}

html {
  background: linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10)), url('./assets/20240719_112113.jpg') center/cover fixed #ddd;
  min-height: 100dvh;
}
